.char_damage {
	font-size: 200%;
	font-weight: 700;
}
	.char_damage .icon-sword {
		margin-top: 0.275em;
	}
.defense {
	display: inline-block;
	font-size: 150%;
}
.defense + .defense-label {
	margin-left: 1em;
}
.defense-label {
	display: inline-block;
	font-variant: small-caps;
}
.defense-label:after {
	content: ": ";
}
.icon-sword {
	background-position: left top;
	background-image: url('/icon-sword.gif');
	width: 16px;
	height: 16px;
}
.navbar .control-group,
.navbar .form-actions {
	display: inline-block;
}
.navbar .form-actions {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border-top: none;
}
.navbar label {
	color: white;
	display: none;
}
.navbar input[type=checkbox] {
}
.navbar input[type=checkbox] + label {
	display: inline-block;
	vertical-align: baseline;
}
.navbar input[type=number] {
	width: 4em;
}
.navbar input[type=text],
.navbar input[type=number],
.navbar input[type=checkbox] + label {
	margin-right: 9px;
}
.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
	margin-top: 0;
}
.out-of-game {
	
}
.table td,
.table th {
	text-align: center;
}
.table td {
	line-height: 42px;
}
.table td.char-initiative {
	font-size: 1.5em;
}
.table td.char-name,
.table th.char-name {
	text-align: left;
}
.table td.char-name {
	font-size: 42px;
}
.table tr.enemy-true td,
.table-striped tbody tr.active.enemy-true:nth-child(odd) td {
	color: #FF4D4D;
	font-style: italic;
}
.table tr.active,
.table-striped tbody tr.active:nth-child(odd) td {
}
.table tr.active.enemy-true td,
.table tr.active,
.table-striped tbody tr.active:nth-child(odd) td,
.table-striped tbody tr.active.enemy-true:nth-child(odd) td {
	background-color: #FFE300;
}
.table tr.active:hover,
.table tr.active:hover td,
.table-striped tbody tr.active.enemy-true:nth-child(odd):hover td {
	background-color: #FFD700;
}
.table-striped tbody tr.enemy-true:nth-child(odd) td {
	background-color: #FFEEEE;
}
.table-striped tbody tr.enemy-true:nth-child(odd):hover td {
	background-color: #FFE4E4;
}